<form action="/action_page.php">
    <h2>Register Form</h2>
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Username" name="usrnm">
    </div>

    <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="email">
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" name="psw">
    </div>
    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" name="psw">
    </div>
    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <select name="menu" id="meun-items" class="select-field">
            <option disabled>Select Cource</option>
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="js">JAVASCRIPT</option>
            <option value="c">C LANGUAGE</option>
        </select>
    </div>
    <button type="submit" class="btn">Register</button>
</form>