.tab_content {
  ul {
    display: flex;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
  }

  li {
    padding: 5px 10px;
    border: 1px solid #3b82f6;
    border-radius: 8px 8px 0px 0px;
  }

  .tab_inner_content {
    padding: 5px;
    border: 1px solid #2a436c; //#404040
  }

  li:hover {
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
  }

}

.resposive_Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}


.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #1a2025;
  border: 1px solid #80808059;
  border-radius: 0px 10px 10px 0px;
}

.select-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #1a2025;
  border: 1px solid #80808059;
}


.input-field:focus {
  border: 1px solid dodgerblue;
}

// /* Set a style for the submit button */
// .btn {
//   background-color: dodgerblue;
//   color: white;
//   padding: 15px 20px;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   opacity: 0.9;
// }

// .btn:hover {
//   opacity: 1;
// }

// select{
// width: 100%;
//     outline: none;
//     border: 1px solid #fff;
//     padding: 10px;
//     font-size: 13px;
//     /* border-radius: 0.5rem; */
//     /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
//     cursor: pointer;
//     background: #1a2025;
//     color: #767676;
//      outline: none;

// }

select:focus {
  outline: none;
  border: 1px solid #80808059;
}

.select-field:focus {
  border: 1px solid dodgerblue;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  border: 1px solid #463f3f;
  // margin: 0 0 5px;
  padding: 8px 10px;
  color: #9E9E9E;
  background: #171717;
}


.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #2c2b2b;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1001;
}

.drawer.open {
  right: 0;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 2px 10px;
  background: #2c2b2b;
  border-bottom: 1px solid #ddd;
}

.drawer-content {
  padding: 1rem;
}